body{
    background-image: url(https://fondosmil.com/fondo/78143.jpg);
}


table{
    background-image: url(https://img.freepik.com/vector-gratis/fondo-azul-galaxia_125540-99.jpg?w=2000);
    margin: 0px auto;
}